**Data Science Tools and Ecosystem**

#In this notebook, Data Science Tools and Ecosystem are summarized.

# 1. languages python
## 2. languages java
### 3. languages R
#### 4. languages SQL
##### 5. languages Scala

# **Objectives:**
# List popular languages for Data Science

* Using different tools offered by Python
* to perform some basic programming exercises.
* learn a little more about the most used languages.

#Some of the commonly used libraries used by Data Scientists include:
# 1. libraries pandas
## 2. libraries Keras
### 3. libraries TensorFlow
#### 4.libraries Plotly
###### 5. libraries Seaborn

In [4]:
#Data Science Tools

<H3>Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

<h2> Author
# name Blanca Ruiz